* {
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('https://cdn.discordapp.com/attachments/859116884921417737/884419848476721232/Background-01.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* overflow: hidden; */
}

/* .MainDiv,
#Footer {
  filter: blur(0px);
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3f3f3f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.5s;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#SearchBar,
.MenAndWomen,
.Utilities {
  display: flex;
}

.MenAndWomen {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.Title {
  font-size: 15px;
  /* margin-top: 25px; */
  margin-left: 25px;
}


#SearchBar {
  margin-left: -100px;
  /* margin-top: 40px; */
}

.OpenSidebarIcon {
  /* margin-top: 35px; */
  margin-left: -65px;
}

#SearchBarInput {
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}

.Utilities {
  margin-top: -15px;
  margin-right: -105px;
}

.Profile {
  width: 50px;
  height: 50px;
  border-color: #CAD51D;
  margin-right: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0);
}

#logoProfile {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 0 auto;
}

.Title {
  color: white;
  text-decoration: none;
  font-weight: 750;
}

.Title:hover {
  color: #CAD51D;
  cursor: pointer;
  transition: 0.4s;
}


/* -------------------------------------------------------------- */
.MainDiv {
  display: flex;
  flex-direction: column;
}

.Socials {
  display: flex;
  position: fixed;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 30px;
}

.SocialTexts {
  transform: rotate(270deg);
  padding-top: 30px;
  color: #676767;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}



/* --------------------------------- */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.sidenav a:nth-child(1) {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #CAD51D;
  display: block;
  padding: 0px 10px 20px 0px;
  transition: 0.3s;
}

.sidenav a:nth-child(2),
a:nth-child(3),
a:nth-child(4),
a:nth-child(5),
a:nth-child(6) {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-radius: 10px;
  width: 19vh;
  height: 40px;
  margin-left: 7px;
  transition: 0.3s;
}


.sidenav a:hover:nth-child(2),
a:hover:nth-child(3),
a:hover:nth-child(4),
a:hover:nth-child(5),
a:hover:nth-child(6) {
  background-color: white;
  color: black;
  text-shadow: 1px 1px #9b9a9a;
}

.sidenav a {
  margin-top: 20px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* ------------------------------------------------------------ */

.info {
  width: 300px;
  height: 150px;
  background-color: rgb(26, 26, 26);
  color: #6C6C6C;
  border-radius: 10px;
  display: flex;
  box-shadow: rgb(212, 219, 114) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#listDemo {
  margin: 275px 0px 0px 250px;
  /* padding-inline-start: 0; */
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.info img {
  width: 125px;
  height: 125px;
}

p {
  margin: 0px;
}

.ShoesPrice {
  font-weight: 800;
  font-size: 25px;
}

.SmallShoesInfo a {
  color: #CAD51D;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.SmallShoesInfo {
  padding: 20px 0px 0px 20px;
}

#AirMaxWrapper {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 100px;
}

#AirMaxCollectionBanner {
  width: 1688px;
  height: auto;
}

#AirMaxContainer {
  position: relative;
  text-align: center;
}

#banner1 {
  position: absolute;
  bottom: 15px;
  left: 135px;
}

.ShoppingButton {
  background-color: #fdfdfd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 25px;
  margin-left: -140px;
  margin-bottom: 20px;
}

.ShoppingButton:hover {
  background-color: #e4e4e4;
  transition: 0.4s;
}


#cart_icon {
  right: 25%;
  top: 8%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #252525;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #CAD51D;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#cart_icon:hover {
  background: #313131;
}

/* ---------------------------------------- */
.showSlider {
  display: none
}

.showSlider img {
  width: 100%;
}

.container {
  max-width: 1688px;
  position: relative;
  margin: auto;
}

/* .left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
} */

.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.left:hover,
.right:hover {
  background-color: rgba(71, 71, 71, 0.8);
  background: #24262b;
}

.contentBook {
  color: #717171;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.contentBook:hover {
  color: #3f3f3f;

}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
::selection {
  color: #fff;
  background: #664AFF;
}

.search-box {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 350px;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
  opacity: 1;
}

.search-box input::placeholder {
  color: #a6a6a6;
}

.search-box .search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #252525;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #CAD51D;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon:hover {
  background: #313131;
}

.search-box .search-icon.active {
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #CAD51D;
  color: black;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-icon.active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data {
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}

.search-box .search-data.active {
  display: none;
}

#SearchBar {
  width: 350px;
  height: 65px;
}

/* ------ footer ------------------------------------------------------ */
.container_footer {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

.footer-col ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;

}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #CAD51D;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(68, 53, 53, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer {
  height: 30vh;
}